.toolbar {
    padding-top: 1rem;
    padding-right: 2rem;
}

.action-panel-desktop {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.action-panel-all {
    button {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.container-body {
    min-height: 50vh;
    max-height: 50vh;
}

.sidebar {
    max-height: 100%;
    overflow: auto;
}

.active {
    background-color: rgb(239, 243, 199);
    margin-top: -0.1rem;
}

app-side-list:hover {
    background-color: rgb(239, 240, 232);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 0.35rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.card {
    min-width: 8rem;
    max-width: 8rem;
    max-height: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    mat-card-subtitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    mat-card-content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.active-card {
    background-color: rgb(239, 243, 199);
}

.card-container {
    overflow: auto;
    margin-top: 1rem;
}
