.toolbar{
    padding-top: 1rem;
    padding-right: 2rem;
}


.action-panel-desktop {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.action-panel-all {
    button{ 
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.container-body{
    min-height: 50vh;
}

