<div
    class="container mat-elevation-z2"
    fxFlex.gt-lg="50vw"
    fxFlex.lg="50vw"
    fxFlex.lt-lg="60vw"
    fxFlex.lt-md="95vw"
    fxLayout="column"
>
    <div
        [@MyInsertRemoveTrigger]
        class="mat-elevation-z1 toolbar"
        fxLayout="row"
    >

        <div
            fxFlex.gt-sm="30%"
            fxLayout="row"
            fxHide.lt-md="true"
            fxLayoutAlign.gt-sm="space-between center"
            fxLayoutAlign.lt-md="space-around center"
            class="action-panel-desktop"
        >
            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                class="action-icons"
            >

                <button
                    mat-icon-button
                    aria-hidden="false"
                    aria-label="Close notes app icon"
                >
                    <mat-icon [style.color]="'red'">cancel</mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="Minimize notes app icon"
                >
                    <mat-icon [style.color]="'orange'">remove_circle</mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="Expand notes app icon"
                >
                    <mat-icon [style.color]="'green'">add_circle</mat-icon>
                </button>
            </div>

            <div
                fxLayout="row"
                fxLayoutAlign="space-around center"
                class="action-buttons"
            >
                <button
                    mat-icon-button
                    (click)="toggleCollapse()"
                    aria-label="Toggle sidebar icon"
                >

                    <mat-icon svgIcon="sidebar"></mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="Toggle view icon"
                >

                    <mat-icon>view_module</mat-icon>
                </button>
            </div>
        </div>
        <div
            fxFlex.gt-sm="70%"
            fxFlex.lt-md="100%"
            fxLayout="row"
            fxLayoutAlign="space-evenly center"
            class="action-panel-all"
        >
            <div
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    aria-label="Back to view"
                    (click)="backtoview()"
                    *ngIf="selectedNote"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="Delete icon"
                    (click)="deleteNote()"
                >

                    <mat-icon>delete</mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="Create icon"
                    (click)="createNote()"
                >

                    <mat-icon>create</mat-icon>
                </button>

            </div>

            <mat-form-field
                appearance="fill"
                *ngIf="!selectedNote"
            >
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input
                    matInput
                    [formControl]="filterNotesCtrl"
                >
            </mat-form-field>
        </div>
    </div>
    <div
        fxLayout="row"
        class="container-body"
    >
        <div
            fxFlex.gt-sm="30%"
            fxHide.lt-md="true"
            fxLayout="column"
            class="sidebar mat-elevation-z4"
            *ngIf="!collapse"
        >
            <app-side-list
                *ngFor="let note of notes$ | async;trackBy:trackByNote"
                [@MyInsertRemoveTrigger]
                [note]="note"
                [filterText]="filterText"
                (clicked)="openNote(note)"
                [ngClass]="{ 'active': note.id && selectedNote && selectedNote.id && note.id === selectedNote.id}"
            >
            </app-side-list>
        </div>
        <div
            *ngIf="(isMobile && !selectedNote) || (!selectedNote && collapse)"
            fxFlex="grow"
            [ngStyle]="{'padding': '1rem'}"
            fxLayout="row wrap"
            fxLayoutGap="0.5rem"
            class="card-container"
            [@MyInsertRemoveTrigger]
        >
            <mat-card
                class="card"
                *ngFor="let note of notes$ | async;trackBy:trackByNote"
                (click)="openNote(note)"
            >
                <mat-card-title>
                    <mat-card-subtitle>
                        {{ note.createdAt | datePipe  }}&nbsp;
                        <div [innerHTML]="note.description | titlePipe: filterText"></div>
                    </mat-card-subtitle>
                </mat-card-title>
                <mat-card-content>
                    <div [innerHTML]="note.description | descPipe: filterText"></div>
                </mat-card-content>
            </mat-card>
        </div>

        <div
            fxFlex.lt-md="100%"
            fxFlex.gt-sm="!collapse ? '70%' : '100%'"
            fxLayout="row"
            *ngIf="(selectedNote)"
        >
            <app-editor
                *ngIf="selectedNote"
                [note]="selectedNote"
                fxFlexFill
            ></app-editor>
        </div>
    </div>
</div>
